<!DOCTYPE HTML>
<HTML xmlns="http://www.w3.org/1999/html">
    <head>
        <link rel="stylesheet" href="../static/modern.css"/>
    </head>
    <body>
        <h1>Benkins</h1>
        <p>Simple <b>CI/CD</b> tool for compiling code and PCBs.</p>
        <p><sub>Does not include money for manufacturing and shipping</sub></p>
        </br>

        <div class="WARNING">
            <b>DEPRECATION NOTE!</b> This frontend will be deprecated in favor of a separate FE project!
            Some features (like log viewing, build status and build download) will not be available!
        </div>

        <h2> Golden Pages </h2>
        <li><p><a href="/app/projects">Projects</a></p></li>
        <li><p><a href="/app/About">About</a></p></li>
    </body>
</HTML>