<!DOCTYPE HTML>
<HTML xmlns="http://www.w3.org/1999/html">
    <head>
        <link rel="stylesheet" href="../static/modern.css"/>
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>


    </head>
    <body>
        <h1>Projects</h1>
        <br>

        <div class="project_container">
            {% for project in projects%}
            <div class="project_entry flex justify-around">
                <p><b> {{project.name}} </b></p>

                <div class="flex flex-col">
                    <p><b>Build Status</b></p>

                    <b>

                    {%if project.status == 0%}
                    <p class="color-[#EFF8E25a]">NONE</p>
                    {% endif %}

                    {%if project.status == 1%}
                    <p class="text-[#00A878]">SUCCESS</p>
                    {% endif %}

                    {%if project.status == 2%}
                    <p class="text-[#B68F40]">BUILDING</p>
                    {% endif %}

                    {%if project.status == 3%}
                    <p class="text-[#E03616]">FAILED</p>
                    {% endif %}

                    </b>

                </div>

                <div class="flex flex-col">
                    <button onclick="alert('building')">Build</button>
                    <button>Remove</button>
                </div>
            </div>
            {% endfor %}

            <button class="create_button">Create new project</button>
        </div>
    </body>
</HTML>